[submodule "guided-diffusion"]
	path = guided-diffusion
	url = https://github.com/openai/guided-diffusion.git
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "sd-scripts"]
	path = sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
